*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.menu li{
    display: inline-block;
    padding: 20px;
}
header{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.377);
}
header .menu{
    position: fixed;
    margin-left: 60vw;
}
header .menu li{
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 20px;
    
}
header .menu li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer{
    background-color: red;
}
.capa{
    width: 100%;
    height: 100vh;
    background-color: orange;
}
.sobre{
    width: 100%;
    height: 600px;
    background: orchid;
}
.projetos{
    width: 100%;
    height: 200px;
}
.contato{
    width: 100%;
    height: 500px;
    background-color: peru;
}