*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{

}
main{
    width: 100%;
    background-color: wheat;
}
main .n-acessos h1{
    margin-top: 50px;
    text-align: center;
}
main .n-acessos P{
    color: tomato;
}
footer{

}
.planoDeFundo{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.advertencia{
    display: flex;
    width: 100px;
    height: 100px;
    margin: 40px auto;
}
.planoDeFundo h1{
    text-align: center;
}
.planoDeFundo p{
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}
