*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
}
header nav{
    position: fixed;
    height: 75px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.637);
}
header nav ul{
    width: 50vw;
    height: 50px;
    padding-top: 25px;
    margin-left: 50%;
}
header nav ul li{
    display: inline;
    padding: 0 5%;
    color: wheat;
    background-color: orchid;
}
header h1{
    padding-top: 50vh;
    padding-left: 60px;
    color: white;
}
header p{
    padding-left: 60px;
    color: white;
}
main{
    background-color: white;
}
main .container{
    margin: 0 5%;
    text-align: center;
}
main .container .conteudo01{
    height: 100vh;
    background-color: white;
    border-bottom: 5px solid black;
    border-radius: 0 0 100px 100px;
}
main .container .conteudo02{
    height: 100vh;
    background-color: white;
}
main .container .conteudo02 ul{
    height: 100vh;
}
main .container .conteudo02 ul li{
    display: inline-block;
    list-style: none;
    margin: 20vh 2vw;
    padding: 10px;
}
main .container .conteudo02 ul li img{
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
main .container .conteudo02 ul li h2{
    margin-top: 15px;
}
main .container .conteudo02 ul li p{
    width: 300px;
    text-align: justify;
    margin-top: 2px;
}
main .container .conteudo03{
    height: 100vh;
    background-color: white;
    border-top: 5px solid black;
    border-radius: 100px 100px 0 0;
}
main .container .conteudo04{
    height: 100vh;
    background-color: olive;
}
footer{
    background-color: powderblue;
}